@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("https://fonts.googleapis.com/css?family=Thasadith");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: "Quicksand", sans-serif !important;
  background: #f9fafd !important;
  font-weight: bold !important;
  color: #6c757d;
}
p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  /* padding: 10px 10px; */
  /* background: #fff; */
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.main-nav {
  height: 3.75rem;
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), #008f68) !important;
  background: linear-gradient(to right, #FFF, #a8dacc) !important;
  /* background: linear-gradient(to right, #302E24, #28313E) !important; */
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* --------------------------------------------------- SIDEBAR STYLE ----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 220px;
  max-width: 220px;
  background: #f1f3fa;
  color: #737c84;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -220px;
}
#sidebar .sidebar-header h3 {
  padding: 10px;
  background: #f1f3fa;
  color: #424550;
  font-weight: bold;
}
#sidebar ul.components {
  /* padding: 0px 0;
     */
  /* border-bottom: 1px solid #47748b;
     */
}
#sidebar ul p {
  color: #6c757d;
  padding: 0px 10px;
  font-size: 12px;
  font-weight: 500;
  font-weight: bold;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 14px;
  display: block;
  font-weight: bold;
}
#sidebar ul li a span {
  padding: 10px !important;
}
/* .icon {
     padding: 10px !important;
}
 */
#sidebar ul li a:hover {
  color: #d2ccef;
  /* background: #fff;
     */
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #8f78d7;
  /* background: #6d7fcc;
     */
}
a[data-toggle="collapse"] {
  position: relative;
}
a[data-toggle="dropdown"] {
  position: relative;
  margin-right: 10px;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #f1f3fa;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386d5;
}
a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* --------------------------------------------------- CONTENT STYLE ----------------------------------------------------- */
#content {
  width: 100%;
  /* padding: 20px;
     */
  /* min-height: 100vh; */
  transition: all 0.3s;
  background: #fafbfe !important;
}
#content nav {
  background: #FFF !important;
  /* box-shadow: none;
     */
}
.card {
  border: none;
  margin: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
  left: -100px !important;
  border-radius: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: bold;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: bold;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: bold;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-weight: bold;
}
select {
  font-weight: bold;
}
label {
  font-weight: bold !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  /* border: 1px solid #ced4da !important;
     */
  /* border-radius: .25rem;
     */
  /* height: 35px !important;
     */
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.modal-body {
  height: 315px;
}
.menu-nav{
  margin-left: 5px;
  padding: 0px 10px !important;
}

/* @media (min-width: 992px) .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
} */

.navbar-expand-lg .navbar-nav .nav-link {
  /* padding-right: 2.5rem; */
  /* padding-left: 0.5rem; */
}

.menu-nav li{
  background-color: #EEE;
  border-radius: 50px;
  margin: 0px 10px;
}

.menu-nav li a{
  padding: 3px 12px !important;
  color: #ab9898 !important;
}

.nav-tabs {
  border-bottom: 2px solid #eee;
}
.nav-link {
  display: block;
  padding: 0rem 1rem 0.3rem 0.6rem;
}
.nav-item {
  border-right: 1px solid #eee;
  /* border: 1px solid #eee;
  border-right: 5px solid #5f95d0; */
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  /* border-color: #dee2e6 #dee2e6 #fff;
     */
  border-bottom: 2px solid #ffa04b !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  /* border-color: #e9ecef #e9ecef #dee2e6;
     */
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none !important;
  border-bottom: 2px solid #000 !important;
}
.nav-tabs .nav-link {
  border: none !important;
  /* border-top-left-radius: .25rem;
     */
  /* border-top-right-radius: .25rem;
     */
}

.new-post-btn {
  background-color: #5f95d0;
  border: 1px solid #5f95d0 !important;
  border-radius: 50px;
  margin-right: 15px;
}

.new-post-btn a {
  padding: 0 15px !important;
  vertical-align: center;
  line-height: 25px;
  font-size: 0.95rem;
  color: #FFF !important;
  font-weight: lighter;
  font-family: monospace;
}
.tab-content {
  margin-top: 30px;
}
.tab-pane p {
  font-size: 13px;
  color: #000;
  font-weight: bold;
}
.tab-pane span {
  width: 100%;
  font-size: 13px;
  color: #888888 !important;
  font-weight: bold;
}
.tab-pane a {
  text-decoration: underline;
}
.fbround {
  border-radius: 50px;
  background-color: #516aa8;
  border-color: #3a589c;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 25px;
}
.channelmodel {
  height: auto !important;
}
.channelmodel p {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
.switching {
  display: block;
  color: #000;
  font-size: 14px;
}
.profile_name {
  font-size: 14px;
  color: #2c539a;
}
.channel-scroll {
  margin-left: 80px;
  border-left: 3px solid #eee;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 420px;
}
.channel-scroll .row {
  /* margin-bottom: 15px;
    */
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 5px;
  border-bottom: 1px solid #eee;
}
.add-button {
  border-radius: 50px;
  padding: 5px 15px;
  top: 10px;
  margin-top: 8px;
  /* color: #000;
     */
  font-size: 14px;
  font-weight: bold;
  background-color: #fdf2f2;
}
.page-type {
  display: block;
  color: #888888;
  font-size: 14px;
  font-weight: normal;
}

.make-post {
  height: 185px;
  max-height: 370px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  border: none;
  outline: none;
}
.post-modal {
  height: auto;
}

.post-modal {
  height: auto;
}

.table-no-head {
  border-top: none !important;
  font-size: 12px;
}

td {
  font-size: 13px;
  color: #000;
  font-weight: bold;
}

.table td,
.table th {
  padding: .40rem;
  vertical-align: top;
  border-top: 1px solid #eee;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eee;
}

.posts-col-md {
  padding: 10px !important;
}

.post-card {
  margin: 0px;
  padding: 10px;
  box-shadow: none;
  border-right: 1px solid #eee;
  border-radius: 0px !important;
}

.post-card-body {
  padding: 0px;
}

.post-card-image {
  width: 100%;
}

.post-image-border {
  border-top: 0.85px solid #eee;
  padding-bottom: 10px;
  margin-top: 10px;
}

.post-page-name {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
}

.post-name {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: #000;
}

.post-via {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  margin: 0px;
}

.post-at {
  font-size: 13px;
  font-weight: normal;
  /* color: #000;   */
  margin: 0px;
  border-bottom: 0.85px solid #eee;
  margin-bottom: 8px;
}

.post-likes {
  font-size: 13px;
  color: #000;
  font-weight: bold;
  margin: 5px;
}

.post-likes span {
  font-size: 13px;
  color: #000;
  float: right;
}

.social-icons {
  width: 15px;
}

/* .page-report {
  padding: 0px;
} */

.live-stream-col {
  margin: 0px;
  margin-top: 25px;
  /* padding: 10px; */
}

/* .live-stream {
  /* margin: 0px; */
margin-top: 25px;
margin-right: 20px;
}

*/ .page-card {
  /* margin-right: 10px !important; */
}

.report-row {
  margin-right: 0px;
}

.picture {
  height: 100px;
  overflow: hidden;
  /* line-height: 85px; */
}

.picture i{
  height: 100px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

/* .sweet-loading {
  background: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
} */

.post-card:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}


/* select::-ms-expand {
     display: block !important;
}
 */
/* --------------------------------------------------- MEDIAQUERIES ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -220px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
  }
}
